<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

  <!-- Khai báo encoder JSON -->
  <include resource="org/springframework/boot/logging/logback/base.xml"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <fieldNames>
        <timestamp>timestamp</timestamp>
        <level>level</level>
        <thread>thread</thread>
        <logger>logger</logger>
        <message>message</message>
      </fieldNames>

      <customFields>{"app_name":"my-service"}</customFields>

      <includeMdcKeyName>traceId</includeMdcKeyName>
      <includeMdcKeyName>spanId</includeMdcKeyName>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>